<div id="edit-delete-container">
	<a type="button" class="btn hover-text" href="{{ path('app_edit_trick', { 'id': trickId }) }}">
		{{ ux_icon('material-symbols:edit-outline') }}
		<span class="tooltip-text" id="top">Editer</span>
	</a>
	<button type="button" class="btn hover-text" data-bs-toggle="modal" data-bs-target="#exampleModal+{{key}}">
		{{ ux_icon('icomoon-free:bin') }}
		<span class="tooltip-text" id="top">Supprimer</span>
	</button>
</div>

<div class="modal fade" id="exampleModal+{{key}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Supprimer la figure
					{{trickName}}
				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Êtes-vous certains de vouloir supprimer cette figure ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Annuler</button>
				<form action="{{ path('trick_delete', { 'id': trickId }) }}" method="POST">
					<button type="submit" class="btn btn-danger">Supprimer</button>
				</form>
			</div>
		</div>
	</div>
</div>
