{% extends 'base.html.twig' %}

{% block title %}Accueil SnowTrick
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/homepage.css') }}" type="text/css" media="all"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		let trickListLength = "{{ trickList|length }}";
	</script>
	<script src="{{ asset('asset/JS/homepage.js') }}"></script>
{% endblock %}

{% block body %}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="flash-{{ label }} text-center sucess_flash">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	<div class="homepage_picture">
		<p class="catch_phrase">toujours plus haut</p>
		<img src="{{ asset('asset/pictures/snowtrick4.jpg') }}" alt="Image d'accueil"/>
		<a href="#" class="smooth_scroll_up" data-target="#trick_list">{{ ux_icon('formkit:arrowdown') }}</a>
	</div>
	{% set nbTricksPerPage = 4 %}
	<div class="trick_list row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-2 m-0" id="trick_list" data-nbtricksperpage={{nbTricksPerPage}}>
		{% for key, trick in trickList %}
			{% if key >= nbTricksPerPage %}
				{% set trickClass = 'hide' %}
			{% else %}
				{% set trickClass = 'show_trick' %}
			{% endif %}
			<div class="col {{trickClass}}" data-tricktarget={{(key/nbTricksPerPage) % nbTricksPerPage}}>
				<div class="col">
					<div class="card h-100">
						{% if is_granted('ROLE_ADMIN') %}
							{% include "editOrDeleteButton.html.twig" with {key: key,trickName: trick.name, trickSlug: trick.slug} only %}
						{% endif %}
						{% set oldestPicture = trick.getCoverPicture().url ?? 'snowtrick4.jpg' %}
						<img src="{{ asset('asset/pictures/' ~ oldestPicture) }}" class="card-img-top" alt="Image pour {{ trick.name }}">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('trick', {'slug': trick.slug}) }}">
									{{ trick.name }}</a>
							</h5>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<footer>
		<button id="moreTricks" class="btn btn-success">Afficher plus de tricks</button>
		<a href="#" class="smooth_scroll_down hide" data-target="#trick_list" id="arrowUp">{{ ux_icon('formkit:arrowup') }}</a>
	</footer>
{% endblock %}
