{% extends 'base.html.twig' %}

{% block title %}
	SnowTrick :
	{{trick.name}}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/trickPage.css') }}" type="text/css" media="all"/>
	<link rel="stylesheet" href="{{ asset('styles/listComment.css') }}" type="text/css" media="all"/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		const trickId = Number("{{ trick.id }}");
	</script>
	<script src="{{ asset('asset/JS/trickTemplate.js') }}"></script>
{% endblock %}

{% block body %}

	<div class="cover_img">
		<div class="trick_name">{{trick.name}}</div>
		{% if trick.getCoverPicture() %}
			{% if is_granted('ROLE_ADMIN') %}
				{% include "editOrDeleteButton.html.twig" with {key:1,'trickName': trick.name, 'trickId': trick.id} %}
			{% endif %}
			<img src="{{ asset('asset/pictures/' ~ trick.getCoverPicture().getUrl()) }}" alt="Oldest picture of the trick">
		{% else %}
			<img src="{{ asset('asset/pictures/' ~ trick.trickPictures|first.getUrl()) }}" alt="Oldest picture of the trick">
		{% endif %}
	</div>

	<div class="text-center m-4" id="show_pictures_videos_list_button">
		<button class="btn btn-primary show_pictures_videos_list" type="button">
			Afficher les photos et vidéos
		</button>
	</div>

	<div class="pictures_videos_list hidden" id="pictures_videos_list">
		<div class="trick_list row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-2 m-0" id="trick_list">
			{% for picture in trick.trickPictures %}
				<div class="col">
					<div class="card h-100">
						<img src="{{ asset('asset/pictures/' ~ picture.url) }}"/>
					</div>
				</div>
			{% endfor %}
			{% for video in trick.trickVideos %}
				<div class="col">
					<div class="card h-100">
						{% if video.isExternalUrl() %}
							<iframe src={{video.url}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
						{% else %}
							<video controls>
								<source src="{{ asset('asset/videos/' ~ video.url) }}" type="video/mp4">
								Votre navigateur ne supporte pas la vidéo HTML5.
							</video>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>


	<div class="description text-center m-3">
		<h5>Description</h5>
		{{trick.description}}
	</div>

	<div class="trick_infos m-3 row justify-content-center gx-2">
		<div class="category col col-lg-2">
			<span class="badge text-bg-dark">Catégorie :
				{{trick.trickGroup.name}}</span>

		</div>
		<div class="created_at col col-lg-2">
			<span class="badge text-bg-dark">créé le :
				{{ trick.createdAt|date('d/m/Y') }}</span>
		</div>
		{% set hasBeenUpdated = trick.updatedAt ? trick.updatedAt|date('d/m/Y') : null %}
		{% if hasBeenUpdated is not null %}
			<div class="updated_at col col-lg-2">
				<span class="badge text-bg-dark">mis à jour :
					{{ trick.updatedAt|date('d/m/Y') }}</span>
			</div>
		{% else %}
			<div class="updated_at col col-lg-2">
				<span class="badge text-bg-dark">jamais mis à jour</span>
			</div>
		{% endif %}
	</div>

	{% if is_granted('IS_AUTHENTICATED') %}
		{% for label, messages in app.flashes(['error_comment', 'succes_comment']) %}
			{% for message in messages %}
				<div class="flash_{{ label }} text-center">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		<form class="row justify-content-center" action="{{ path('add_trick_comment') }}" method="POST">
			<div class="col-11 col-md-8 col-lg-6">
				<div class="input-group mb-3 justify-content-md-center">
					<input type="hidden" name="trick_id" value="{{ trick.id }}">
					<input type="hidden" name="trick_slug" value="{{ trick.slug }}">
					<textarea class="form-control" aria-label="With textarea" placeholder="Laissez un commentaire ici ..." aria-describedby="button-add-comment" name="commentContent"></textarea>
					<button class="btn btn-outline-primary" type="submit" id="button-add-comment">Envoyer</button>
				</div>
			</div>
		</form>
	{% endif %}


	<h6 class="text-center m-4">Commentaires de la communauté</h6>
	<ul class="list-group mb-3" id="more_comments_container">
		{% for comment in comments %}
			<li class="list-group-item d-flex trick_comment_item">
				{% if comment.getUser().getLogo() is not null %}
					<img src="{{comment.getUser().getLogo()}}" class="rounded-circle" style="width: 50px;" alt="Avatar"/>
				{% else %}
					<div class="no_avatar" alt="Avatar">{{comment.getUser().getName()|slice(0, 2)}}</div>
				{% endif %}
				<div>{{ comment.content }}
				</br>
				<span>le
					{{ comment.createdAt|date('d/m/Y') }}</span>
				<span>par
					{{ comment.user.getName() }}</span>
			</li>
		</div>
	</li>
{% else %}
	<li class="list-group-item">Aucun commentaire pour ce trick.</li>
{% endfor %}</ul>{% if (trick.comments|length <= 5) is same as(false) %}
{% set test = comments|length %}<div class="text-center m-4" id="load-more-comments-container">
	<button type="button" class="btn btn-primary" id="load-more-comments">Afficher plus de commentaires</button>
</div>{% endif %}{% endblock %}
