{% extends 'base.html.twig' %}

{% block title %}Création de Trick, SnowTrick
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/signup.css') }}" type="text/css" media="all"/>
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="text-center">Création de trick</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary mt-3">Valider</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
